extends layout

block content
  h1= title
  p Welcome to #[em Members Only].

  p The message board has the following record counts:

  ul
    li #[strong Users:] !{user_count}
    li #[strong Messages:] !{message_count}
